.slider {
  height: auto;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(300px * 22);
}

.slider .slide {
  width: 300px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 11));
    -webkit-transform: translateX(calc(-300px * 11));
  }
}
